<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>K3SDKInteTest.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>28738CB9B11A8E99BD6305B1A2CB188237D6EDAA</string>
				<key>dateExpires</key>
				<string>2021/5/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>28738CB9B11A8E99BD6305B1A2CB188237D6EDAA</string>
						<key>dateExpires</key>
						<string>2021/5/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>K3InteSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EQG82Q5DG8</string>
						<key>name</key>
						<string>Shanghai Binjie Network Technology Co., Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>EQG82Q5DG8.com.sgqyyouming.kwan</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:admin-wxshare.3k.com</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>EQG82Q5DG8</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>EQG82Q5DG8.com.k3inte.groupshare</string>
				</array>
			</dict>
			<key>name</key>
			<string>K3SDKInteTest.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2d3acae5-3085-4f2f-bd6b-7a1d5e108cbc</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.sgqyyouming.kwan</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>EQG82Q5DG8</string>
				<key>name</key>
				<string>Shanghai Binjie Network Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
